<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cain.tencent.com.androidexercisedemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bitmap.FrescoActivity" />
        <activity android:name=".bitmap.BitmapActivity" />
        <activity android:name=".TipsActivity" />
        <activity android:name=".RxJavaActivity" />
        <activity android:name=".Empty1Activity" />
        <activity android:name=".Empty2Activity" />
        <activity android:name=".animator.AnimatorActivity" />
        <activity android:name=".OptimizeLayoutActivity" />
        <activity android:name=".cache.CacheActivity" />
        <activity android:name=".Anko1Activity" />
        <activity android:name=".bitmap.FrescoCacheActivity" />
        <activity android:name=".bitmap.WebPCacheActivity" />
        <activity android:name=".bitmap.PhotoWallActivity" />
        <activity android:name=".ComboActivity" />
    </application>

</manifest>